.headline {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 60vw;
  padding: 0.5rem;
  color: var(--font-two);
  border-radius: 1rem;
  box-shadow: 5px 5px 5px var(--shaddow-one);
}
