.vierNullVier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  margin: auto;
  margin-bottom: 2rem;
  color: var(--font-two);
  font-size: 2rem;
}
