:root {
  /* background-colors */
  --bg-one: rgb(0,12,34);
  --bg-two: rgb(51,102,204);
  --bg-three: white;

  /* font-colors */
  --font-one: rgb(0,12,34);
  --font-two: rgb(51,102,204);
  --font-three: white;

  /* box-shaddows */
  --shaddow-one: rgb(150,197,252);
  --shaddow-two:rgb(0,12,34);
}

body {
  background-color: var(--bg-one);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
